{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<h1>Kendall Jenner is a fashion model,
    Instagram star and one of the famous
    siblings featured on the hit reality show 'Keeping Up With The Kardashians.'
</h1>
<img src="{% static 'Images/ppn10.jpg' %}" width="500px" height="300px">
<p>
    Who Is Kendall Jenner?
    Kendall Jenner is one of the siblings in the famous <br>
    Jenner/Kardashian clan. She got her first taste of <br>
    success and stardom on the family’s popular reality <br>
    television show, Keeping Up With The Kardashians. <br>
    From there, Jenner launched a modeling career. <br>
    Soon after appearing in an ad campaign for Forever 21, <br>
    Jenner was propelled to high fashion runways for major <br>
    international designers and magazine spreads. In a short <br>
    time, she has earned a spot as one of the most in-demand <br>
    and highest-paid models in the fashion industry. Like her <br>
    siblings, Jenner is also a powerhouse on social media and <br>
    is recognized as a top fashion e-commerce influencer. <br>
    She has also branched out into merchandising her <br>
    own brands of clothing, accessories and make-up.<br>
    <br><br>
    Family and Early Career<br>
    Kendall Nicole Jenner was born on November 3, 1995, <br>
    in Los Angeles, California to Kris and Olympic champion <br>
    Bruce Jenner. Her father came out as transgender in 2015 <br>
    and has since been known as Caitlyn Jenner. Her middle <br>
    name is in honor of her mother's friend Nicole Brown Simpson, <br>
    who was murdered in 1994.<br>
    <br>
    <a href="/secondpage">Go To Second Page</a>
    <br>
    <a href="/thirdpage">Go To Third Page</a>
</p>

{% endblock %}