{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<H1>Taylor Swift</H1>
<h2>This article is about the singer-songwriter. <br>
    For her self-titled album, see Taylor Swift (album).</h2> <br>
<img src="{% static 'Images/tl1.jpg'%}" width="600px" height="350px">
<p>
   Taylor Alison Swift (born December 13, 1989) <br>
    is an American singer-songwriter. Her discography <br>
    spans multiple genres, and her songwriting—often <br>
    inspired by her personal life—has received critical <br>
    praise and wide media coverage. Born in West Reading, <br>
    Pennsylvania, Swift moved to Nashville at age 14 to <br>
    become a country artist. She signed a songwriting deal <br>
    with Sony/ATV Music Publishing in 2004 and a recording <br>
    contract with Big Machine Records in 2005. Her 2006 <br>
    self-titled debut album made her the first female <br>
    country singer to write or co-write a U.S. platinum-certified <br>
    album entirely.<br>

    Swift's next albums, Fearless (2008) and Speak Now (2010), <br>
    explored country pop. The former's "Love Story" and "You <br>
    Belong with Me" were the first country songs to top the U.S. pop <br>
    all-genre airplay charts, respectively. She experimented with rock <br>
    and electronic styles on Red (2012), which featured her <br>
    first Billboard Hot 100 number-one song, "We Are Never Ever <br>
    Getting Back Together", and eschewed her country image in her <br>
    synth-pop album, 1989 (2014), supported by chart-topping songs <br>
    "Shake It Off", "Blank Space", and "Bad Blood". Media scrutiny inspired <br>
    the urban-flavored Reputation (2017) and its number-one single <br>
    "Look What You Made Me Do".<br>
    <br>
    <a href="/firstpage">Go To First Page</a>
    <br>
    <a href="/thirdpage">Go To Third Page</a>

</p>

{% endblock %}